*{
    margin: 0;
}
.container{

    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    max-width: 1200px;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
.logo-image{
    margin-top: 3px;
    width: 200px;
}
.title{
    width: 50%;
}
.menu{
    text-align: center;
    width: 300px;
    height: 25px;
    border-bottom: 1px solid black;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content-image{
    width: 700px;
}
form{
    background-color: rgb(240, 240, 240);
    width: 450px;
    height: 550px;
    border-radius: 24px;
    padding: 10px;
    margin-right: 100px;
    text-align: center;
}
input{
    height: 35px;
    width: 60%;
    border-radius: 40px;
    border-style: none;
    margin-left: 50px;
    margin-right: 150px;
}
.input-group{
    margin-top: 25px;

}
p{
    text-align: left;
    margin-left: 60px;
    margin-bottom: 3px;
}
button{
    margin-top: 15px;
    background-color: black;
    border-radius: 50px;
    border-style: none;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
}